<section class="about" id="primary-content">
  <div class="wrapper">
    <h1 class="above">Who are we</h1>
    <div>
      <div class="about-main"><img src="../images/About.jpg" class="about-img">

      </div>
      <div class="about-block">
        <h3>About Us</h3>
        <p>Movie Catalog is site for movie lovers and movie recommendations. Our mission is to help people find and share movies they
          love.</p>
      </div>
      <div class="about-block">
        <h3>A Few Things You Can Do On Movie Catalog</h3>
        <p>Share the movies you love. Find out if a movie is a good fit for you from
          our community’s reviews. <br> The site allows users to upload, view, rate, share, add to favorites and comment
          on movies. Unregistered users can only watch movies on the site, while registered users are permitted to upload an
          unlimited number of movies and add comments to movies. <br>
          <br>
        </p>
      </div>
    </div>
  </div>
</section>